body {
  background: lightsteelblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*Links, APP*/
.link {
  font: bold 1.3em "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: indigo;
  margin: 25px;
}

/*Title component */
#title-container {
  display: flexbox;
  border: 3px solid black;
  height: 260px;
  margin-bottom: 40px;
  background-color: cornflowerblue;
  padding-bottom: 5px;
}

#title-words {
  font: italic bolder 3em cursive;
  color: purple;
}

#title-sentence {
  font: italic bold 1.25em Tahoma;
  color: darkblue;
}

.home-page-words {
  font: bold 1.5em Tahoma;
  color: darkblue;
}

/*Register, Login */
#user-name, #pass-word {
  font: bold 1em Tahoma;
  border-radius: 4px 4px 4px;
  height: 30px;
  width: 200px;
  margin-right: 20px;
  border: 1px solid black;
}

.label-name-pass {
  font: bold 1em Tahoma;
  color:darkblue;
  margin-left:100px;
}

.form-buttons {
  height: 30px;
  border-radius: 5px 5px 5px;
  box-shadow: 7px 5px 5px slateblue;  
}

/*Page message for all six pages*/
.page-message {
  font: bold 1.75em Tahoma;
  color: darkblue;
  margin-top: 40px;
  margin-left: 200px;
  margin-bottom: 40px;
}

/*selectors across multiple files*/
.search-word {
  font: bold 1em Tahoma;
  color:midnightblue;
  margin-left: 100px;
  margin-bottom: 1px;
}

.search-field {
  height: 30px;
  width: 200px;
  border-radius: 4px 4px 4px;

  margin-left:100px;
  margin-bottom: 40px;
}

.input-field {
  height: 25px;
  width: 160px;
  margin-bottom: 10px;
  border-radius: 4px 4px 4px;
}

.button {
  height: 20px;
  width: 130px;
  border-radius: 5px 5px 5px;
  box-shadow: 7px 5px 5px slateblue;
  margin: 5px;
  margin-bottom: 10px;
}

.longer-button {
  height: 20px;
  width: 160px;
  border-radius: 5px 5px 5px;
  box-shadow: 7px 5px 5px slateblue;
  margin: 5px;
  margin-bottom: 10px;

}

.number-input {
  height: 15px;
  width: 65px;
  border-radius: 4px 4px 4px;
}

h2 {
  font: bold 1em Tahoma;
  color: darkblue;
}

h3 {
  font: .9em Tahoma;
  color: darkblue;
}

label {
  font: normal 0.9em Tahoma;
}

/****Routines, MyRoutines*/

.routine-section, .activity-section {
  display: flex;
  flex-flow: row wrap;
  margin: 50px;
}

.routine-container {
  display:flex;
  flex-flow: column wrap;
  flex-basis: auto;
  font: 0.75em Tahoma;
  border: 1px solid black;
  background-color: lightpink;
  padding:10px;
  margin: 50px;
}

/*displayed on routine on myroutines page */
.activity-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: lightsteelblue;
  height: 150px;
  width: 185px; 
  margin:10px;
}

.create-activity-container, .create-routine-container {
  box-sizing: border-box;
  font: 1em Tahoma;
  height: 250px;
  width: 200px;
  border: 1px solid black;
  background-color: lightpink;
  margin: 50px;
  padding:10px;
}

/*AttachActivityToRoutine ** MyActivities */
#routine-activity {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background: lightgrey;
  height:125px;
  width: 300px;
  padding: 10px;
  margin: 60px;
}

#activity-select {
  height: 25px;
  width: 200px;
}

.activity-title {
  padding: 10px;
}

/*activities*/
.activity-container {
  box-sizing: border-box;
  font: 0.75em Tahoma;
  height: 200px;
  width: 150px;
  border: 1px solid black;
  background-color: thistle;
  margin: 50px;
}

.activity-form {
  box-sizing: border-box;
  height: 200;
  width: 150;
  border: 1px solid black;
  background-color: lightgrey;
  margin: 50px;
}

 #edit-activity {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background: lightgrey;
  height:200px;
  width: 250px;
  padding: 10px;
  margin: 60px;
}

/*MyActivities */
#routine-activity-container {
  margin-left:60px;
  margin-bottom: 5px;
}

 #edit-routine-activity {
  display: flex;
  flex-direction: column;
  width:250px;
  padding:10px;
  border: 1px solid black;
  background-color: lightgreen;
  margin-left:60px;
  margin-bottom: 25px;
}
 


/*
*/
